/* For styling the rendered Markdown */

  h1 {
    color: white;
    font-weight: 300;
    background-color: #414650;
    width: 100%;
    border: 3px solid  #414650;
  }
  
  h2 {
    color: white;
    font-weight: 400;
    background-color: #414650;
    width: 100%;
    border: 2px solid  #414650;
  }
  
  
  h3 {
    color: white;
    font-weight: 150;
    background-color: #606776;
  }
  
body {
    font-size: 10px;
    color: #222222;
    word-wrap: break-word;
    line-height: 1.3em;
    background-color: white;
    padding-bottom: 3;
    padding-top: 10px;
} 
  
table {
    font-size: 10px;
    border-collapse: collapse;
}

table th {
    text-align: left;
    background-color: rgb(191, 191, 191);
}

table td, table th {
    padding: .5em;
    border: 1px solid #ccc;
    font-size: 10px;
    color: #222222;
    font-family: 'Avenir', 'Arial', sans-serif;	
}
  
  
pre, code, .inline-code {
	font-family: monospace;
	font-size: 12px;
	border-radius: 5px;
	background-color: #f6f8fa;
	white-space: pre-wrap;       
	line-height: 1.5;
	counter-reset: line;
}  


mark  { 
	background-color: #FFFF00; /* yellow for your own marking */
}  
mark[data-markjs] { 
	background-color: #F3B717; /* orange */
}  
mark[data-markjs].mark-selected {
	background-color: #CF3F00;  /* reddish orange */
}  

svg[id^="mermaid-"] {
min-width: 200px;
max-width: 500px;
}

p.yellow {
  background-color: yellow;
  line-height: 3;
}
p.black {
  background-color: black;
  line-height: 3;
  color: white;
}
